<div class="message">
  <p><%= @question %></p>
  <p><em>-You</em></p>
</div>
<div class="message highlighted">
  <p><strong><%= @answer %></strong></p>
  <p><em>-Your Coach</em></p>
</div>
<p class="link"> <%= link_to "Ask new question", "/ask" %></p>
